.container {
  max-width: $desktop-width;
  width: 92%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.masthead {
  margin-top: 24px;
  margin-bottom: 24px;

  &-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &-description {
    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
