html,
body {
  background-color: $main-background-color;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0 none;
  border-top: 1px solid #000;
}
