body {
  font-family: "Fira Mono", monospace;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  word-wrap: break-word; }
  @media screen and (min-width: 640px) {
    body {
      font-size: 18px;
      line-height: 30px; } }

h1, h2, h3, h4, h5, h6, ul, ol, p, a {
  color: black;
  font-weight: normal; }

h1 {
  font-size: 24px;
  line-height: 1.6; }
  @media screen and (min-width: 640px) {
    h1 {
      font-size: 27px; } }

a:hover {
  text-decoration: none; }

pre, code {
  font-family: "Fira Mono", monospace;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

em, i {
  font-style: normal; }
  em:before, em:after, i:before, i:after {
    content: '_'; }

strong, b {
  font-weight: normal; }
  strong:before, strong:after, b:before, b:after {
    content: '**'; }

html, body {
  background-color: white; }

figure {
  margin-left: 0;
  margin-right: 0; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 640px;
  width: 92%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto; }

.masthead {
  margin-top: 24px;
  margin-bottom: 24px; }
  .masthead-title {
    margin-top: 0px;
    margin-bottom: 0px; }
  .masthead-description p {
    margin-top: 0px;
    margin-bottom: 0px; }

.archive-year {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 15px;
  border-top: 2px solid black; }
.archive-list {
  margin-top: 0px;
  padding-left: 0px;
  list-style: none; }
.archive-item {
  margin-bottom: 8px; }

.go-back {
  margin-top: 36px;
  padding-top: 20px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid black; }

.footnotes {
  border-top: 1px solid black; }
  .footnotes ol {
    margin-top: 36px;
    margin-bottom: 0; }
  .footnotes p {
    margin-top: 0;
    margin-bottom: 0; }
